<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipes From Refrigerator</title>
</head>
<body>

</body>
</html>

<html class="no_slide">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Recipes From Refrigerator</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
    <link href='../static/css/styles.css' rel="stylesheet" type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="../static/scripts/auto_slide.js"></script>


</head>
<body>
<div class="container">
    <div class="slide show" style="background-image: url('../static/images/1.jpg');"></div>
    <div class="slide" style="background-image: url('../static/images/2.jpg');"></div>
    <div class="slide" style="background-image: url('../static/images/3.jpg');"></div>
</div>

<br>
<br>
<br>

<div class="row">

    <div class="col-md-2"></div>

    <div class="col-md-8">
        <div class='box'>

            <input type="text" name="name" class="question" id="nme" required autocomplete="off"/>
            <label><span>Ingredient</span></label>

            <div class="todolist__result">
                <ul id="user_ingredients" class="result__list">
                </ul>
            </div>

        </div>
    </div>

    <div class="col-md-2"></div>

</div>

<div class="row">

    <div class="col-md-2"></div>

    <div class="col-md-1">
        <button class="clear_button">Clear All</button>
    </div>

    <div class="col-md-6"></div>


    <div class="col-md-1">
        <a href="{{ url_for('results') }}">
            <button class="button">Find Recipe</button>
        </a>
    </div>


    <div class="col-md-2"></div>

</div>

</body>
<script src="../static/scripts/list_ingredients.js"></script>
</html>