/* Fixes:
the top of background image gets cut off
possibly might want to add a clear all button that gets rid of all ingredients in list
if possible try to stop clear and find recipe button from moving
I changed the height of box to be by percent instead of by pixels
 */

html {
  font-family: 'Lora', sans-serif;
}

.no_slide {
    overflow-y: hidden;
    overflow-x: hidden;
}

.yes_slide {
    overflow-y: scroll;
    overflow-x: auto;
}


.container {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.container .other-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 30px;
  font-size: 50px;
  color: white;
  z-index: -1;
}

.container .slide {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  height: 100%;
  transition: opacity 2s ease-in-out;   /* transition time, originally 1 second */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  z-index: -1;
}

.container .slide.show {
  opacity: 1;
  z-index: -1;
}

.box {                            /* idea where box expands as more food is added to list */
  border-radius: 20px;
  background: white;
  padding: 45px;
  width: 100%;
  height: 90%;
  opacity: 0.85;      /* opacity of box */
}


/* from: https://codepen.io/atunnecliffe/pen/gpKzQw */

h1 {
  font: 72px 'Oswald', Arial, sans-serif;
  margin: 50px 0;
  text-align: center;
}

input,
span,
label,
textarea {
  font-family: 'Ubuntu', sans-serif;
  display: block;
  margin: 10px;
  padding: 5px;
  border: none;
  font-size: 22px;
}

textarea:focus,
input:focus {
  outline: 0;
}
/* Question */

input.question,
textarea.question {
  font-size: 48px;
  font-weight: 300;
  border-radius: 2px;
  margin: 0;
  border: none;
  width: 80%;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}
/* Underline and Placeholder */

input.question + label,
textarea.question + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 10%;
  border-top: 1px solid dodgerblue;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

input.question:focus + label,
textarea.question:focus + label {
  width: 80%;
}

input.question:focus,
input.question:valid {
  padding-top: 35px;
}

textarea.question:valid,
textarea.question:focus {
  margin-top: 35px;
}

input.question:focus + label > span,
input.question:valid + label > span {
  top: -100px;
  font-size: 22px;
  color: #333;
}

textarea.question:focus + label > span,
textarea.question:valid + label > span {
  top: -150px;
  font-size: 22px;
  color: #333;
}

input.question:valid + label,
textarea.question:valid + label {
  border-color: green;
}

input.question:invalid,
textarea.question:invalid {
  box-shadow: none;
}

input.question + label > span,
textarea.question + label > span {
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: #8F8F8F;
  font-size: 48px;
  top: -66px;
  left: 0px;
  z-index: -1;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

input[type="submit"] {
  -webkit-transition: opacity 0.2s ease, background 0.2s ease;
  transition: opacity 0.2s ease, background 0.2s ease;
  display: block;
  opacity: 0;
  margin: 10px 0 0 0;
  padding: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #EEE;
}

input[type="submit"]:active {
  background: #999;
}

input.question:valid ~ input[type="submit"], textarea.question:valid ~ input[type="submit"] {
  -webkit-animation: appear 1s forwards;
  animation: appear 1s forwards;
}

input.question:invalid ~ input[type="submit"], textarea.question:invalid ~ input[type="submit"] {
  display: none;
}

@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}


/* from: https://codepen.io/iamrams/pen/KKPBWeZ */

input[type="text"]{
    font-family: 'Roboto', sans-serif;
    border: none;
    outline: none;
    border-bottom: solid 1px #dddddd;
    transition-duration: 0.4s;
}

input[type="text"]:focus{
    border-bottom: solid 1px #38ef7d;
    transition-duration: 0.4s;
}

li{
    list-style: none;
}

button{
    padding: 0;
    border: none;
    background: none
}

/*Content*/
/*--head*/
.todolist{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todolist__main{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
    padding: 25px 0px;
    border-radius: 20px;
    width: 400px;
}

.todolist__header{
    padding: 0px 20px;
}

.todolist__header--date{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.todolist__header--date span:nth-child(1){
    font-size: 48px;
    color: #858585;
    font-weight: 400;
}

.warpper{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.warpper span:nth-child(1){
    font-size: 16px;
    color: #858585;
    font-weight: 500;
}

.warpper span:nth-child(2){
    font-size: 16px;
    color: #858585;
    font-weight: 300;
}

.add__input{
    padding: 5px;
    width: 100%;
    font-size: 16px;
}

.ion-plus-circled{
    font-size: 60px;
    color: #00cebd;
    transition-duration: 0.4s;
}

.ion-plus-circled:hover{
    color: #11998e;
    transition-duration: 0.4s;
}


/*--result*/
/*fix size of task list*/
.todolist__result{
    height: 100%;
}

/*overflow scroll without scrollbar*/
.todolist__result::-webkit-scrollbar { width: 0 !important }

.list__task{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.list__task:hover{
    border-left: solid 5px #38ef7d;
    background-color: #eeeeee;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.list__task i{
    font-size: 20px;
}

.list__task--text{
    font-family: 'Ubuntu', sans-serif;
    margin: 10px;
    transition-duration: 0.4s;
}


.list__task--del{
    color: #aaaaaa;
    margin-left: auto;
    margin-right: 10px;
}


.ion-android-delete:hover{
    color: #f78604;
    transition-duration: 0.4s;
}

ul {
    height: calc(100vh - 350px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.list__task--check{
    opacity: 0;
}

/* from: https://codepen.io/LeoPragi/pen/gzrGoG */

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear_button, .button, .recipe_button{
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.clear_button:hover, .button:hover, .recipe_button:hover{
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}