<!DOCTYPE html>
<html lang="en" class="yes_slide">
<head>
    <meta charset="UTF-8">
    <title>Recipes From Refrigerator</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Recipes From Refrigerator</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>

    <link href='../static/css/bootstrap.min.css' rel="stylesheet" type='text/css'>
    <link href='../static/css/styles.css' rel="stylesheet" type='text/css'>
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/logo.ico"/>

    <script src="../static/scripts/jquery-3.5.1.min.js"></script>

</head>
<body>

<br>

<div class="row">

    <div class="col-md-1"></div>

    <div class="col-md-1">
        <a href="{{ url_for('index') }}">
            <button class="button back_button">Back</button>
        </a>
    </div>

    <div class="col-md-9"></div>

    <div class="col-md-1">
        <a href="{{ url_for('index') }}">
            <img src="../static/images/logo_image.png" class="logo" alt="logo">
        </a>
    </div>

</div>

<br>

<div class="row">
    <div class="col-md-4">
        <h1>
            Recipes
        </h1>
    </div>
</div>


</body>
</html>